<div [formGroup]="form">
  <label [attr.for]="register.key">{{register.label}}</label>

  <div [ngSwitch]="register.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="register.key"
           [id]="register.key" [type]="register.type">

    <select [id]="register.key" *ngSwitchCase="'dropdown'" [formControlName]="register.key">
      <option *ngFor="let opt of register.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{register.label}} is required</div>
</div>
